.my-node-enter {
    max-height: 1px;
}
.my-node-enter-active {
    max-height: 100px;
    transition: all 600ms;
}
.my-node-exit {
    max-height: 100px;
}
.my-node-exit-active {
    max-height: 0px;
    transition: all 600ms;
}
