@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
   url("./assets/fonts/Inter.ttf") format("truetype");
  }

body, html, #root {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //height: 100%;
  //display: flex;
  //flex-direction: column;
	//justify-content: center;
	//align-items: center;
  background-color: var(--creamy);
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
